📊 来源: Prometheus

{{if eq .status "firing"}}🚨🚨🚨🚨🚨🚨 状态: 告警{{else}}✅✅✅✅✅✅ 状态: 恢复{{end}}

时间: {{.startsAt | e}}

{{range $k, $v := .labels}}{{$k | e}}: {{$parts := splitComma $v}}{{if ge (len $parts) 2}}{{range $i, $p := $parts}}{{if $i}}<br>{{end}}{{$p | e}}{{end}}{{else}}{{$v | e}}{{end}}
{{end}}
{{with index .annotations "summary"}}summary: {{. | e}}{{end}}
